.register-container {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    min-height: 100vh;
    display: flex;
    margin-top: 20px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    transition: height 0.3s ease; /* Add a smooth transition effect for height changes */
  }
  
  .register-row {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .form-col {
    margin-top: 20px;
    overflow: hidden;
    transition: flex 0.3s ease; /* Add a smooth transition effect for flex changes */
  }
  
  .image-col {
    margin-top: 20px;
    overflow: hidden;
    flex: 1; /* Allow the image to take the remaining space */
  }
  
  .form-card {
    transition: transform 0.3s ease; /* Add a smooth transition effect for transform changes */
  }
  
  /* Add any other styling as needed */
  